// bower:scss
// endbower

body {
  font-family: 'Apercu', Helvetica, sans-serif; 
  color: #333;
  background: no-repeat;
  margin: 0 0;
  font-size: 62.5%;
}

  img {
    max-width: 100%;
  }

h1 {
  font-size: 4.8em;
  font-weight: 700;
}

input {
  display: block;
  margin-bottom: 5px;
  border-bottom: 1px solid #333;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: 'Apercu', Helvetica, sans-serif;
  font-size: 1.4em;

    &:focus {
      outline: 0;
    }
}

button {

  &:focus {
      outline: 0;
    }
}

header {
  width: 100%;
  margin: 35px 0 25px 0;
  text-align: center;

  .header-border {
    margin: 0 auto;
    width: 130px;
    border: 6px solid #333;
  }
}

  input {
    border: none;
  }

  .file-uploader-button {
    color: transparent;
  }

  .file-uploader-button::-webkit-file-upload-button {
    visibility: hidden;
  }

  .file-uploader-button::before {
    content: 'Select File';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
  }

  .file-uploader-button:hover::before {
    border-color: #C5B07A;
    color: #C5B07A;
  }

  .file-uploader-button:active {
    outline: 0;
  }

  .file-uploader-button:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

  .caption {
    border-bottom: solid 1px #333;
  }

  .preview-button {
    padding: 5px 8px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #fff;
    font-size: 1.4em;
  }

  .save-button {
    display: block;
    margin-top: 25px;
    background-color: #333;
    padding: 7px 8px;
    font-size: 1.4em;
    border-radius: 3px;
    border: none;
    color: #fff;
  }

// Modal Window

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 50px 30px;
  border-radius: 4px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.close:hover { background: #C5B07A; }

.photo-view {
  float: left;
  margin-bottom: 0;

  img {
    display: block;
  }
}

// Fonts

@font-face {
    font-family: 'apercumono';
    src: url('apercu-mono-webfont.eot');
    src: url('apercu-mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('apercu-mono-webfont.woff') format('woff'),
         url('apercu-mono-webfont.ttf') format('truetype'),
         url('apercu-mono-webfont.svg#apercumono') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercuregular';
    src: url('apercu-regular-webfont.eot');
    src: url('apercu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('apercu-regular-webfont.woff') format('woff'),
         url('apercu-regular-webfont.ttf') format('truetype'),
         url('apercu-regular-webfont.svg#apercuregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercubold';
    src: url('apercu-bold-webfont.eot');
    src: url('apercu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('apercu-bold-webfont.woff') format('woff'),
         url('apercu-bold-webfont.ttf') format('truetype'),
         url('apercu-bold-webfont.svg#apercubold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercuitalic';
    src: url('apercu-italic-webfont.eot');
    src: url('apercu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('apercu-italic-webfont.woff') format('woff'),
         url('apercu-italic-webfont.ttf') format('truetype'),
         url('apercu-italic-webfont.svg#apercuitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}